<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="main">
	<!-- hidden_projects/single.html -->
                <div id="menu">
                        {{- partial "menu_hidden_project.html" . -}}
                </div>
                <div id="content">
                        <h1>{{ .Title }}</h1>
                        {{ .Content }}
                </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
