html {
	background: silver;
}
body {
	margin: 0px;
	font-size: xx-large;
}
header {
	background: darkslateblue;
	padding: 5px;
	display: flex;
}
header > div > img {
	height: 100%;
	max-height: 204px;
}
header > div.title {
	align-self: center;
}
header > div > a {
	color: white;
	padding: 10px;
	text-decoration: none;
}
div#taxonomies {
	padding: 10px;
}
div#content {
	padding: 10px;
}
div.content_item {
	background: palegoldenrod;
	margin: 10px;
}
div.content_item > a {
	color: black;
	text-decoration: none;
}
div.content_item > a > div {
	padding: 5px;
}
div.content_text {
	background: palegoldenrod;
	padding: 10px;
}
code {
	background: cadetblue;
	color: lightyellow;
	padding: 3px;
}
div#menu {
	padding: 10px;
}
footer {
	background: darkslateblue;
	width: -webkit-fill-available;
	padding: 5px;
}
footer > div {
        align-self: center;
}
footer > div > a {
        color: white;
}
@media(min-width: 1100px){
	body {
		font-size: medium;
	}
	header {
		height: 5%;
	}
	header > div > a {
		font-size: xx-large;
	}
	div#main {
		display: flex;
	}
	div#menu {
		width: 20%;
	}
	div#content {
		width: 80%;
	}
	div.content_item_title {
		font-size: x-large;
	}
	footer {
		height: 5%;
	}
}
