html {
	background: silver;
}
body {
	margin: 0px;
	font-size: xx-large;
}
header {
	background: darkslateblue;
	width: -webkit-fill-available;
	padding: 5px;
	display: flex;
}
header > div > img {
	height: 100%;
	max-height: 204px;
}
header > div.title {
	align-self: center;
}
header > div > a {
	color: white;
	padding: 10px;
}
div#menu {
	padding: 10px;
}
summary#menu_switch {
	padding: 10px;
}
details#side_menu > li {
	padding: 5px;
}
div#content {
	background: palegoldenrod;
	width: -webkit-fill-available;
	padding: 10px;
}
code {
	background: cadetblue;
	color: lightyellow;
	padding: 3px;
}
footer {
	background: darkslateblue;
	width: -webkit-fill-available;
	padding: 5px;
	display: flex;
}
footer > div {
	align-self: center;
}
footer > div > a {
	color: white;
}
@media(min-width: 1100px){
	body {
		font-size: medium;
	}
	header {
		position: fixed;
		height: 5%;
	}
	div#main {
		display: flex;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	div#menu {
		position: fixed;
		width: 20%;
		height: 80%;
		overflow: auto;
	}
	div#content {
		margin-left: 23%;
		margin-right: 10px;
		border-radius: 10px;
	}
	footer {
		position: fixed;
		height: 5%;
		bottom: 0;
	}
}
