<head>
	<meta charset="UTF-8">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="{{ .Site.Params.twitter_user }}" />
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ .Page.Params.description }}" />
	<meta property="og:image" content="{{ absURL "twitter.png" }}" />
	<meta property="og:url" content="{{ absURL .RelPermalink }}" />
	<title>{{ .Title }}</title>
	<link rel="icon" href="/favicon.ico">
	{{ if eq .Section "blog" }}
		<link rel="stylesheet" href="/css/blog.css">
	{{ else }}
		<link rel="stylesheet" href="/css/style.css">
	{{ end }}
	<script src="/js/main.js"></script>
</head>
