{{ $url := "" }}
{{ if .IsPage }}
	{{ if eq .Params.main_menu true }}
			{{ $url = .Site.BaseURL }}
	{{ else }}
		{{ $url = "../" }}
	{{ end }}
{{ else }}
	{{ $url = "./" }}
{{ end }}

{{ $top := .Site.Title }}
{{ $text := "" }}
{{ $text = .CurrentSection.Title }}
{{ if .IsHome }}
	{{ $text = $top }}
{{ else }}
	{{ if eq .Params.main_menu true }}
		{{ if .IsPage }}
			{{ $text = $top }}
		{{ end }}
	{{ end }}
{{ end }}

<header>
	<div><img src="/top.png"></div>
	<div class="title"><a href="{{ $url }}">{{ $text }}</a></div>
</header>
