<p>Hot Topics</p>
<ul>
	{{ $pages := where .Site.RegularPages.ByWeight.Reverse ".Section" "blog" }}
	{{ range $pages }}
		{{ if ne .Weight 0 }} 
    		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
	{{ end }}
</ul>
<p>Tags</p>
<ul>
	{{ range $name, $entries := .Site.Taxonomies.tags }}
		<li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}({{ $entries.Count }})</a></li>
	{{ end }}
</ul>
<p>Categorise</p>
<ul>
	{{ range $name, $entries := .Site.Taxonomies.categorise}}
		<li><a href="{{ "/categorise/" | relLangURL }}{{ $name | urlize }}">{{ $name }}({{ $entries.Count }})</a></li>
	{{ end }}
</ul>
